# dependencies
/node_modules

# production
/build

# npm packs
react-image-file-resizer-0.3.0-beta.1.tgz
react-image-file-resizer-0.3.0.tgz
react-image-file-resizer-0.3.1.tgz
react-image-file-resizer-0.3.2.tgz
react-image-file-resizer-0.3.3.tgz
react-image-file-resizer-0.3.3-beta.0.tgz
react-image-file-resizer-0.3.4.tgz
react-image-file-resizer-0.3.5.tgz